<div class="input{{#if version}} input_{{version}}{{else}} input__default{{/if}}">
    <input id="{{label}}" class="input__element" name="{{inputName}}" placeholder="" type="{{type}}" value="{{inputValue}}" {{#if disabled}}disabled{{/if}}>
    <label for="{{label}}" class="input__label">{{label}}</label>
    {{#if errorMessage }}
        <span class="input__error">{{errorMessage}}</span>
    {{/if}}
</div>
