<button
  class="button button_{{type}}
    {{#if textColor}}button_textColor_{{textColor}} {{/if}}
    {{#if buttonSize}}button_fontSize_{{buttonSize}}{{/if}}"
  {{#if submit}}type="submit"{{else}}type="button"{{/if}}>
    <span>{{label}}</span>
</button>
