<div class="left-side">
  <div class="left-side__header">
    <div class="left-side__header-button">
      {{{ ProfileButton }}}
    </div>
    <div class="left-side__search">
      {{{ SearchField }}}
    </div>
  </div>
  <div class="left-side__create-chat-button">
    {{{CreateChatButton}}}
  </div>
  {{{ ChatsList }}}
</div>
{{#if isModalOpen}}{{{modalWindow}}}{{/if}}
<div class="right-side">
  {{#if currentChat }}
    <div class="right-side__header">
      <div class="right-side__user-info">
        <div class="right-side__avatar">
          {{{ ChatAvatar }}}
        </div>
        <div class="right-side__user-name">{{chatTitle}}</div>
      </div>
      <div class="right-side__user-button">
        {{{ AddUserButton }}}
        {{{ RemoveUserButton }}}
        {{{ DeleteChatButton }}}
      </div>
    </div>
    <div class="right-side__content">
      {{{ messageList }}}
    </div>
    <div class="right-side__footer">
      {{{ MessageField }}}
    </div>
  {{else}}
    <h1 class="right-side__no-chat">Нет активного чата</h1>
  {{/if}}
</div>
